
/*body {*/
/*    background: url(../img/background/anime_img.webp) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

.anime-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    -webkit-flex: 1 1 auto;
}

.btn-group button {
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dropdown-menu {
    min-width: 3rem !important;
}

.main-wrapper {
    flex: 1 0 auto;
}

.user-profile {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.user-profile .fa-user {
    font-size: 18px;
}

.card {
    box-shadow: 0 0.7rem 1rem rgba(0,0,0,0.5)!important;
}

.card-title {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-image {
    max-height: 250px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image .card-image-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 250px;
}

.card-image .card-image-btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    max-height: 250px;
}


.table thead th:not(:last-child) {
    border-right: 1px solid #fff;
}

.table tbody td {
    vertical-align: middle;
}

.table thead th:first-child,
.table tbody tr td:first-child {
    max-width: 40px;
}

.table .table-actions {
    width: 300px;
}

.table td.table-actions {
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}

.table td.table-actions>div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.nav-item dropdown {
    margin-top: 30px;
}

.rate {
    float: left;
    height: 46px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: start;
    flex-direction: column;
}

.anime-item {
    width: 440px;
}
